body {
  padding-top: 70px;
}



.navbar-default {
    background-color: #5BA337;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background-color: inherit;
}

