
{% extends 'kiosk.html' %}

{% block content %}
	<div style="text-align: center">
		<h1>Welcome to Dr. {{ user.last_name }}'s Clinic</h1>
		<br>
		<h3>Would you like to update any of your information?</h3>
		<hr>

	</div>


	<form id='update_demographics_form' action="{% url 'update_demographics' %}" method="post">
	    {% csrf_token %}

	    {% for field in demographics_form.visible_fields %}
	    	<strong style="color:#b30505">{{ field.errors.as_text }}</strong>
		    <div class="form-group">
		        {{ field.label_tag }}
		        {{ field }}
		    </div>
		{% endfor %}
		{% for field in demographics_form.hidden_fields %}
			{{ field }}
		{% endfor %}

		<button type="submit" class="btn btn-default">Update</button>

	</form>



{% endblock content %}


